.main{
    width:100px;
    height:250px;
    background-color:black;
    border-radius: 10px;
    border-style: ridge;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin:200px;
    margin-left:700px;
    


}
.Red{
    background-color:red;
    width:60px;
    height:60px;
    border-radius:35px;
    margin-left:10px;
}
.yellow{
    background-color:yellow;
    width:60px;
    height:60px;
    border-radius:35px;
    margin:10px;
    margin-top:30px;

}
.Green{
    background-color:Green;
    width:60px;
    height:60px;
    border-radius:35px;
    margin:10px;
    margin-top:30px;

}